<section class="footer">
    <p class="section-title">get in touch</p>
    <p class="footer__text">I'd love to connect with you</p>
    <a href="mailto:hello@chrisvpr.com" class="intro__cta">hello@chrisvpr.com</a>
    <div class="footer__social">
        
        <a href="https://www.linkedin.com/in/chrisvpr/" target="new"> Linkedin</a> <p>/</p>
        <a href="https://www.behance.net/chrisvpr" target="new">Behance</a> <p>/</p>
        <a href="https://dribbble.com/chrisvpr" target="new">Dribbble</a> 
    </div>
</section>