<a href="#menu" id="toggle"><span></span></a>
<header class="menu">
    <a href="/" class="menu__logo">
      <span class="menu__logo__ball"></span>
      <span class="menu__logo__line"></span>
      <span class="menu__logo__name">Chris Vargas</span>
    </a>
      <nav class="menu__items">
        {% if page.active == "work" %}
        <a href="/" class="menu__item --selected">Work</a>
        {% else %}
        <a href="/" class="menu__item">Work</a>
        {% endif %}
        {% if page.active == "about" %}
        <a href="/about/" class="menu__item --selected">About</a>
        {% else %}
        <a href="/about/" class="menu__item">About</a>
        {% endif %}
        {% if page.active == "keynotes" %}
        <a href="/keynotes/" class="menu__item --selected">Leadership</a>
        {% else %}
        <a href="/keynotes/" class="menu__item">Leadership</a>
        {% endif %} 
      </nav>
</header>