<a href="#menu" id="toggle"><span></span></a>
<header class="menu">
    <a href="/" class="menu__logo">
      <img src="/assets/images/Logo-w.svg" alt="Logo">
    </a>
      <nav class="menu__items">
        {% if page.active == "work" %}
        <a href="/" class="menu__item --selected">Work</a>
        {% else %}
        <a href="/" class="menu__item">Work</a>
        {% endif %}
        {% if page.active == "about" %}
        <a href="/about/" class="menu__item --selected">About</a>
        {% else %}
        <a href="/about/" class="menu__item">About</a>
        {% endif %}
        {% if page.active == "keynotes" %}
        <a href="/keynote-2/" class="menu__item --selected">Keynotes</a>
        {% else %}
        <a href="/keynote-2/" class="menu__item">Keynotes</a>
        {% endif %} 
      </nav>
</header>