<a href="#menu" id="toggle"><span></span></a>
<header class="menu">
    <a href="/" class="menu__logo">
      <img src="/assets/images/Logo.svg" alt="Logo">
    </a>
      
      <nav class="menu__items">
        {% if page.active == "work" %}
        <a href="/" class="menu__item --selected">Work</a>
        {% else %}
        <a href="/" class="menu__item">Work</a>
        {% endif %}
        {% if page.active == "about" %}
        <a href="/about/" class="menu__item --selected">About</a>
        {% else %}
        <a href="/about/" class="menu__item">About</a>
        {% endif %}
        {% if page.active == "keynotes" %}
        <a href="/keynotes/" class="menu__item --selected">Keynotes</a>
        {% else %}
        <a href="/keynotes/" class="menu__item">Keynotes</a>
        {% endif %} 
      </nav>
      
      <div class="menu__social">
        <div class="menu__social-items">
          <p class="menu__social-item">
            <a href="https://www.linkedin.com/in/chrisvpr/" target="new">
              <i class="icon-linkedin"></i>
              <span>Linkedin</span>
            </a>
          </p>
          <p class="menu__social-item">
            <a href="https://twitter.com/chrisvpr" target="new">
              <i class="icon-twitter"></i>
              <span>Twitter</span>
            </a>
          </p>
          <p class="menu__social-item">
            <a href="https://dribbble.com/chrisvpr" target="new">
              <i class="icon-dribbble"></i>
              <span>Dribbble</span>
            </a>
          </p>
          <p class="menu__social-item">
            <a href="https://www.behance.net/chrisvpr/" target="new">
              <i class="icon-behance"></i>
              <span>Behance</span>
            </a>
          </p>
        </div>
      </div>
      
      <a href="mailto:chzerox@gmail.com" class="menu__mail">chzerox@gmail
        <span class="menu__mail-dot">.</span>com</a>
      
      <a href="#open" class="menu__open-arrow">
        <img src="assets/images/arrow--right-short.svg" alt="">
      </a>
</header>