
.bio{
  &__container{
    max-width: 850px;
    width: 90vw;
    margin: 71px auto;
  }
  &__name{
    font-family: Proza Libre;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    letter-spacing: -0.04em;
  }
  &__link{
    color: var(--lred);
    &:hover{
      color: var(--red);
    }
  }
  &__quote{
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: -0.04em;
  color: var(--lgray);
  max-width: 597px;
  margin: var(--space-m) auto;
  border-left: solid 8.5px var(--lred);
  padding-left: var(--space-esm);
  @media screen and (max-width: $mobile) {
    margin: var(--space-sm) auto;
    font-size: 1rem;
  }
  }
  &__section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: var(--space-sm);
    margin-top: var(--space-m);
    @media screen and (max-width: $mobile) {
      grid-template-columns: 1fr; 
      margin-top: var(--space-sm);
    }
    &.--inverted{
      grid-template-columns: 2fr 1fr; 
      @media screen and (max-width: $mobile) {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    &.--double{
      grid-template-columns: 0.7fr 1fr; 
      @media screen and (max-width: $mobile) {
        display: flex;
        flex-direction: column-reverse;
      }
      p{
        font-size: .9rem;
      }
    }
    img{
      max-width: 100%;
      box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
      @media screen and (max-width: $mobile) {
        height: 300px;
        text-align: center;
        width: 100%;
        object-fit: cover;;
        margin-bottom: var(--space-sm);
      }
    }
    &-images{
      text-align: right;
      :first-child{
        width: 40%;
        @media screen and (max-width: $mobile) {
          width: 100%;
          display: none;
        }
      }
      :last-child{
        width: 50%;
        @media screen and (max-width: $mobile) {
          width: 100%;
        }
      }
    }
    
  }
  
  &__section-title{
    font-family: Proza Libre;
    font-weight: bold;
    font-size: 1.5rem!important;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: var(--space-esm);
  }
  &__section-body{
    color: var(--lgray);
    letter-spacing: -0.05em;
    line-height: 22.5px;
  }

  &__rcta{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.04em;
    color: var(--red);
    margin-top: var(--space-m);
    bottom: var(--space-m);
    &:hover{
      color: var(--lred);
    }


  }
}