#c1-old-gate{
    background-image: url('/assets/img/case-1/old-gate.png');
    height: 541px;
    background-repeat: no-repeat;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   
}