.bio-description{
  &__quote{
    font-size: 2.8rem;
    font-weight: 100;
    font-weight: 700;
    max-width: 300px;
    margin-left: 20px;
    line-height: 1.3;
    letter-spacing: 1px;
    @media screen and (max-width:$desktop-sm){
      text-align: center;
    }   
  }

  &__text{
    max-width: 480px;
    border-left: solid var(--red);
    padding-left: 1em;
    padding-right: 1em;
    p{
      font-family: 'Rubik';
      color: var(--gray);
      font-size: 1.1rem;
      line-height: 1.28;
      letter-spacing: -.003em;
      -webkit-animation: reveal-text 0.6s 0s;
              animation: reveal-text 0.6s 0s;
    } 
  }
}

.bio-profile{

position: relative;
img{
  border-radius: 20px;
}

&__name{
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
}

&::after{
  display: block;
  content: "";
  background-color: var(--red);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  right: -1em;
  top: 10em;
  opacity: .7;
  -webkit-animation: reveal-ball 0.6s 0s;
          animation: reveal-ball 0.6s 0s;
}
}

@-webkit-keyframes reveal-ball{
0% {
  opacity: 1;
  width: 100px;
  height: 100px;
  right: -10em;

}
100% {
  opacity: .7;
  width: 60px;
  height: 60px;
}
}

@keyframes reveal-ball{
0% {
  opacity: 1;
  width: 100px;
  height: 100px;
  right: -10em;

}
100% {
  opacity: .7;
  width: 60px;
  height: 60px;
}
}

@-webkit-keyframes reveal-text{
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@keyframes reveal-text{
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

.bio-description__link{
color: var(--lgray);
&:hover{
  color: var(--red);
  transition: .3s;
}
&.--center{
  text-align: center;
    display: block;
    margin: 20px 0;
}
}