//Generals
.main-logo{
    &--sm{
        margin: 0 auto;
        display: none;
        margin-top: 0;
        margin-top: 21px;
        margin-bottom: 60px;
        @media screen and (max-width:$mobile){
            display: block; 
             }
    }
}
.section-title{
    text-align: center;
    text-transform: uppercase;
    color: var(--lgray);
    letter-spacing: 0.04em;
    margin: 60px auto;
    margin-top: 140px;
    font-weight: bold;
}
.section-title-sm{
    text-align: center;
    text-transform: uppercase;
    color: var(--red);
    letter-spacing: 3px;
    margin: 60px auto;
}
//helpers
.no-scroll{
    overflow: hidden;
}
.h-highlight{
    background-color: var(--red);
    color: white;
}
.h-red{
    color: var(--red);
}

.h-error{    
    text-align: center;
    margin: 20% auto 1em auto;
    padding: 0 5%;
    color: var(--gray);
    font-size: 5rem;
}

.h-red-dot{
    background-color: var(--red);
    --size: 0.8em;
    width: var(--size);
    height: var(--size);
    display: inline-block;
    border-radius: 50%;
    margin: 0 0.1em;
}