.intro{
    margin: 0 auto;
    width: 85vw;
    max-width: 950px;
    text-align: center;
    min-height: 150px;
    &__quote{
        font-weight: bold;
        line-height: 1.3;
        letter-spacing: -.1rem;
        font-size: 3.5rem;
        vertical-align: middle;
        display: inline;
        @media screen and (max-width: $mobile) {
            font-size: 2.8rem;
            flex-direction: column;
          }
    }
    &__cta{
       
        color: var(--lgray);
        display: block;
        position: absolute;
        text-align: center;
        margin: 30px auto;
        // right: 15%;
        font-size: 1rem;
        letter-spacing: initial;
        font-weight: normal;
        left: 0;
        right: 0;
        max-width: 9em;
        font-weight: bold;
        
        &::after {
            display: block;
            content: "";
            background-color: var(--red);
            width: 0%;
            height: 30%;
            position: absolute;
            bottom: -10px;
            transition: all 0.3s ease-out;
          }
          &:hover {
            &::after {
              width: 100%;
              height: 30%;
            }
          }
    }
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 5px;
	height: 50px;
	background-color: var(--red);
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: var(--red); 
	}
}