// define your general typography styles here
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

:root{
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: 'Rubik', sans-serif;
}

