:root{
    //colors
    --red: #c01844;
    --lred: #D28B9D;
    --gray: #3a3a3a;
    --lgray: #8C99A7;
        //Font Sizes
    --font-big: 1.5rem;
    --font-small: 1rem;
        //Font-weight
    --light: 100;
    --bold: 700;
    --regular: 400;
        //Font-Families
    --serif:'PT Serif', serif;
    //spacing
    --space-m: 78px;
    --space-sm: 37px;
    --space-esm: 18.5px;
}

$self: &;

$desktop-sm: 800px;
$mobile: 700px;

video {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }