:root{
    //colors
    --red: #c01844;
    --gray: #3a3a3a;
    --lgray: #8d99a7;
        //Font Sizes
    --font-big: 1.5rem;
    --font-small: 1rem;
        //Font-weight
    --light: 100;
    --bold: 700;
    --regular: 400;
        //Font-Families
    --serif:'PT Serif', serif;
}

$self: &;

$desktop-sm: 800px;
$mobile: 700px;
