.work-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  position: absolute;
  padding-left: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  right: 0;
    &::-webkit-scrollbar {
      display: none;
    }
     @media screen and (max-width:$mobile){
      padding-left: 1em;
      height: 80%;
      }
}

.work-card {
    color: white;
    margin-left: 3em;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
       @media screen and (max-width:$mobile){
        margin-left: 1em;
        }
      &:first-child {
        margin-left: 0;
      }
      &:hover{
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }

  &__background {
      --pad: 0.8em;
      width: calc(270px - var(--pad));
      height: calc(350px - var(--pad));
      border-radius: 10px;
      padding: var(--pad);
      position: relative;
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s;
      
      
           @media screen and (max-width:$mobile){
            --pad: 0.8em;
            width: calc(270px - var(--pad));
            height: calc(400px - var(--pad));
            }
            
          &--case-01 {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 58, 58, 0.73)), to(rgba(58, 58, 58, 0.73))),
            url("/assets/images/case-1.jpg");
            background: -webkit-linear-gradient(rgba(58, 58, 58, 0.73), rgba(58, 58, 58, 0.73)),
            url("/assets/images/case-1.jpg");
            background: -o-linear-gradient(rgba(58, 58, 58, 0.73), rgba(58, 58, 58, 0.73)),
            url("/assets/images/case-1.jpg");
            background: linear-gradient(rgba(58, 58, 58, 0.73), rgba(58, 58, 58, 0.73)),
            url("/assets/images/case-1.jpg");
            background-position: 32% 50%;
            background-repeat: no-repeat;
            background-size: cover;
          }

          &--case-02 {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 58, 58, 0.73)), to(rgba(58, 58, 58, 0.73))),
            url("/assets/images/case-2.jpg");
            background: -webkit-linear-gradient(rgba(58, 58, 58, 0.73), rgba(58, 58, 58, 0.73)),
            url("/assets/images/case-2.jpg");
            background: -o-linear-gradient(rgba(58, 58, 58, 0.73), rgba(58, 58, 58, 0.73)),
            url("/assets/images/case-2.jpg");
            background: linear-gradient(rgba(58, 58, 58, 0.73), rgba(58, 58, 58, 0.73)),
            url("/assets/images/case-2.jpg");
            background-position: 32% 50%;
            background-repeat: no-repeat;
            background-size: cover;
          }

          &--workshop-01 {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 58, 58, 0.73)), to(rgba(58, 58, 58, 0.73))),
            url("/assets/images/workshop-1.jpg");
            background: -webkit-linear-gradient(rgba(58, 58, 58, 0.73), rgba(58, 58, 58, 0.73)),
            url("/assets/images/workshop-1.jpg");
            background: -o-linear-gradient(rgba(58, 58, 58, 0.73), rgba(58, 58, 58, 0.73)),
            url("/assets/images/workshop-1.jpg");
            background: linear-gradient(rgba(58, 58, 58, 0.73), rgba(58, 58, 58, 0.73)),
            url("/assets/images/workshop-1.jpg");
            background-position: 50% 60%;
            background-repeat: no-repeat;
            background-size: cover;
          }

          &--workshop-02 {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 58, 58, 0.63)), to(rgba(58, 58, 58, 0.43))),
            url("/assets/images/workshop-2.jpg");
            background: -webkit-linear-gradient(rgba(58, 58, 58, 0.63), rgba(58, 58, 58, 0.43)),
            url("/assets/images/workshop-2.jpg");
            background: -o-linear-gradient(rgba(58, 58, 58, 0.63), rgba(58, 58, 58, 0.43)),
            url("/assets/images/workshop-2.jpg");
            background: linear-gradient(rgba(58, 58, 58, 0.63), rgba(58, 58, 58, 0.43)),
            url("/assets/images/workshop-2.jpg");
            background-position: 50% 60%;
            background-repeat: no-repeat;
            background-size: cover;
          }
      }
      &__title {
        position: relative;
        font-weight: 400;
        font-size: 1.4rem;

        &::after {
          content: "";
          display: block;
          height: 4px;
          width: 60%;
          background-color: var(--red);
          position: absolute;
          margin-top: 0.5em;
        }
      }
      &__sub-title {
        right: 2em;
        bottom: 0.5em;
        letter-spacing: 1.68px;
        font-weight: 100;
        margin-top: 2em;
        font-size: 1rem;
      }
      &__cta {
        position: absolute;
        right: 2em;
        bottom: 0.5em;
        letter-spacing: 1.68px;
        font-weight: 100;
        background-color: var(--red);
        padding: 10px;
        font-size: 10px;
        border-radius: 5px;
      }
      &__date {
        position: absolute;
        left: 1em;
        bottom: 0.2em;
        letter-spacing: 1px;
        font-weight: 100;
      }
  } 

.controls-arrows {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 3em;
      img{
        width: 3em;
      }
         @media screen and (max-width:$mobile){
          display: none;
          }
}

