.work-cards {
  display: flex;
  max-width: 1035px;
  width: 90vw;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 60px;
}

.work-card{
  display: grid;
  grid-template-columns:2fr 1fr;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  transition: .6s;
  margin-bottom: 37px;
  &:hover{
            transform: scale(1.05);
            transition: .6s;
            box-shadow: 0 0 px rgba(33,33,33,.7);
  }
  @media screen and(max-width:$mobile){
    grid-template-columns:1fr;
  }
  img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 0 0 10px;
    @media screen and(max-width:$mobile){
      border-radius: 10px 10px 0 0;
    }
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 37px;
  }
  &__title{
    font-family: Proza Libre;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 18.5px 0;
    @media screen and(max-width:$mobile){
      font-size: 1.5rem;
      margin: 13.8px 0;
      margin-top: 35px;
    }
  }
  &__description{
  font-size: 1.1rem;
  letter-spacing: -0.04em;
  color: var(--lgray);
  }
  &__cta{
    margin-top: 37px;
    font-weight: bold;
    font-size: 1rem;
    @media screen and(max-width:$mobile){
      margin-bottom: 37px;
      margin-top: 18px;
      text-align: center;
    }
  }
}