<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel="author" href="humans.txt"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#3a3a3a">
    <meta name="theme-color" content="#C01844">
    <link rel="stylesheet" href="/assets/css/main.min.css?v=2.0">

        <!-- Primary Meta Tags -->
        <meta name="title" content="Chris Vargas">
        <meta name="description" content="Hello, I am a UX and Product Designer that wants to bridge the gap between bits and atoms.">
    
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://chrisvpr.com/">
        <meta property="og:title" content="Chris Vargas">
        <meta property="og:description" content="Hello, I am a UX and Product Designer that wants to bridge the gap between bits and atoms.">
        <meta property="og:image" content="/assets/images/metatag.png">
    
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://chrisvpr.com/">
        <meta property="twitter:title" content="Chris Vargas">
        <meta property="twitter:description" content="Hello, I am a UX and Product Designer that wants to bridge the gap between bits and atoms.">
        <meta property="twitter:image" content="/assets/images/metatag.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62413939-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-62413939-3');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="/assets/js/lazy-loading.min.js"></script>
    <script src="/assets/js/menu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.15.0/lazyload.min.js"></script>
  </body>
</html>